@import "../node_modules/@ibm/plex/scss/ibm-plex.scss";
$font-stack: 'IBM Plex Mono', monospace;
$theme-color: #e95f2d;

body {
    background-color: black;
    font-family: $font-stack;
    color: $theme-color;
}

a {
    &:visited {
        color: #cc5023; 
    }

    color: $theme-color;
}


main, header {
    margin-left: 20vw;
    margin-right: 20vw;
}

@media screen and (min-width: 300px) {
    nav {
        font-size: small;
    }
}

@media screen and (min-width: 800px) {
    nav {
        font-size: medium;
    }
}

nav {
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 30px;
    display: flex;
    justify-content: left;
    gap: 1em;
    border-style: solid;
    border-color: $theme-color;
    border-width: 3px;
    padding: 3px 3px 3px 3px;

    #siteName {
        text-decoration: none;
        font-weight: bold;
    }
}

$special-size: 57vw; // 58.8285vw - figured from guesses. However lower is better.

.center {
    display: flex;
    justify-content: center;
}


/*
    These @media rule adjusts text size accordingly to screen size.
*/
@media screen and (min-width: 300px) {
    main, header {
        font-size: smaller;
    }
}


@media screen and (min-width: 400px) {
    main, header {
        font-size: small;
    }
}

@media screen and (min-width: 800px) {
    main, header {
        font-size: medium;
    }
}

main, header {
    p {
        // Corrects large text overflow.
        inline-size: $special-size;
        overflow-wrap: break-word;
    }
    
    margin-top: 25px;
}

footer {
    margin-top: 20vh;
    text-align: center;
    font-size: smaller;
}