<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block styles %}
        {# 
            I haven't yet thought of a way to better unify styles from different directory levels;
            eventually I will find a better solution, but for now, this will work.
        #}
        {% endblock %}
        <title>Computer Goblin</title>
    </head>
    <body>
        {% include "./components/navbar.html" %}
        <header>
            {% block header %}
            {% endblock %}
        </header>
        <main>
            {% block main %}
            {% endblock %}
        </main>
        <footer>
            {% block footer %}
            {% endblock %}
            <br><br>
            <a href="https://github.com/dn-rodr">dn-rodr</a>
        </footer>
        {% block script %}
        {% endblock %}
    </body>
</html>