{% extends "../../templates/base.njk" %}

{% block styles%}
<link rel="stylesheet" href="../../assets/css/style.css" type="text/css">
<link rel="stylesheet" href="../../assets/css/lab.css" type="text/css">
{% endblock %}

{% block main %}
<span id="posts">
</span>
{% endblock %}

{% block script %}
<script type="module" src="../../scripts/contentPopulater.js"></script>
{% endblock %}