{% extends "../../templates/labreport.njk" %}

{% block labTitle %}
Lab 1 - Make a Website
{% endblock %}

{% block postDate %}
January 26, 2023
{% endblock %}

{% block objective%}
<p>Construct and set up a blog and create a post using Wordpress.</p>
{% endblock %}

{% block equipment%}
<p>Wordpress, Personal Computer.</p>
{% endblock %}

{% block analysis %}
<p>
    <a href="https://wordpress.com/">Wordpress</a>, an open-source content management system and service, appears to have a relatively friendly user interface that most people can work with; the amount of customization you're permitted is adequate for building rudimentary personal, blog-styled, and commercial websites.
</p>
<p>Some features are locked behind a paid subscription model:</p>
<ul type="square">
    <li>Custom <dfn title="Styling language for websites.">CSS</dfn> (<a href="https://en.wikipedia.org//wiki/CSS">Cascading Style Sheets)</a></li>
    <li>Extended media storage quota</li>
    <li>"Premium" themes</li>
</ul>
<p>
    Building a website is not terribly difficult as components such as paragraphs, columns, images, etc. are inserted as blocks; it is somewhat like building with toy bricks.
</p>
<p>
    These premium features are likely not problematic for most users of Wordpress that only operate and create blogs likely consisting of text and <i>compressed</i> media. However, for more advanced users, these limitations may be too constricting; advanced users would want the ability to freely modify CSS to style their websites and implement custom functionality using <dfn title="Scripting language for websites"><a href="https://en.wikipedia.org/wiki/JavaScript">JavaScript</a></dfn> or a server-side tech stack.
</p>
<p>
    I personally encountered some difficulties building a website using Wordpress; customization is limited to pre-existing non-premium  modifiable templates, query loops that update a feed of new content tend to be bulky in appearance, and trying to enforce a dark theme was cumbersome as it is locked behind a paywall.
</p>
<p>
    Noticeably, Wordpress tries to guide you into paying for a domain claiming it is <i>'free'</i> and is designed to draw your attention away from creating a free subdomain name (<i>website-name</i>.wordpress.com). You will want to pay close attention for a link to creating a free subdomain instead of paying for one.
</p>
{% endblock %}

{% block conclusion %}
<p>
    Wordpress is an easy way to create websites for your business, blog, and other things you may want to serve. The user interface is not too hostile for the average individual wanting to construct their first website, although it may be a bit jarring at first learning the structure of it all. Wordpress may try to persuade into you buying a domain name; however, you can create a free domain under wordpress.com (<i>website-name</i>.wordpress.com).
</p>
{% endblock %}