{% extends "../../templates/base.njk" %}

{% block styles%}
<link rel="stylesheet" href="../../../assets/css/style.css" type="text/css">
<link rel="stylesheet" href="../../../assets/css/lab.css" type="text/css">
{% endblock %}

{% block main %}
<h1>Lab 1 - Make a Website</h1>
<p>January 26, 2023</p><br>
<hr>
<h2>Objective(s)</h2>
<p>Create a blog post and website using Wordpress.</p>
<h2>Equipment list</h2>
<p>Wordpress, Personal Computer.</p>
<h2>Notes, Observations, and Questions</h2>

<h2>Conclusion(s)</h2>
{% endblock %}

{% block footer %}
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
{% endblock %}