{% extends "./templates/base.njk" %}

{% block styles %}
<link rel="stylesheet" href="./assets/css/style.css" type="text/css">
{% endblock %}

{% block header %}
<p>
    Donec tincidunt dui purus, eget scelerisque magna venenatis a. Nullam congue porta convallis. Phasellus luctus urna commodo risus pharetra interdum. Suspendisse ac magna rhoncus, feugiat lacus et, ultrices orci. Nullam sit amet ex nisl. Phasellus dapibus diam augue, a sagittis diam mollis eget. In lobortis volutpat lacus, vel sodales felis viverra id. Maecenas egestas aliquam justo, a porta quam. Maecenas interdum, ante sed hendrerit vehicula, sapien lorem euismod diam, vitae sollicitudin leo metus vel eros.
</p>
{% endblock %}

{% block main %}
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam faucibus lobortis molestie. Integer fringilla ante a dignissim congue. Sed et nunc congue, facilisis tellus nec, mollis ante. Aenean cursus egestas orci non varius. Nam et dictum lectus, eget consectetur felis. Vivamus sit amet purus elit. Praesent in nisl non eros luctus sagittis ut vitae mauris. Aliquam fermentum eget nisl quis vestibulum. Phasellus vehicula nisi pulvinar lacinia lobortis. Suspendisse congue vestibulum velit et feugiat.

    Duis volutpat imperdiet augue in vulputate. Proin luctus dui eget nibh dignissim, vitae ullamcorper lorem sagittis. Quisque sollicitudin tellus vitae lacus molestie, eget mollis tellus efficitur. Curabitur eu diam quis purus cursus molestie nec quis odio. Morbi rhoncus leo massa, et suscipit lacus ullamcorper in. Nunc dignissim sodales egestas. Aliquam mattis dolor at nisi feugiat, a porttitor leo euismod. Proin vitae purus eget velit volutpat vulputate ac ac nulla. Maecenas gravida purus a erat dictum, at faucibus orci tincidunt. Cras vestibulum tincidunt purus, sit amet malesuada nulla euismod quis. Praesent magna nulla, pulvinar a orci dignissim, ullamcorper malesuada diam. Nulla sit amet massa sit amet arcu efficitur pulvinar. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce molestie metus libero, sit amet egestas est lacinia lobortis. In mauris mauris, ultrices sed interdum et, laoreet ac metus. Vestibulum id elementum urna, ut ornare sapien.
</p>
{% endblock %}

{% block script %}
<script src="/scripts/main.js"></script>
{% endblock %}